ExpiresActive On
ExpiresDefault "access plus 1 days"

Options All -Indexes
ErrorDocument 400 /index.html
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html
ErrorDocument 405 /index.html
ErrorDocument 410 /index.html
ErrorDocument 501 /index.html


Options FollowSymLinks 
RewriteEngine On 

RewriteCond %{HTTP_HOST} ^itdar\.com$ [NC]
RewriteRule ^(.*)$ http://www.itdar.com/$1 [R=301,L]
